Repository Trendyol/baklava, pull requests merged in 2024-01, with the labels that each got.

#759 feat(select): add search feature for select
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
Labels: enhancement, bl-select

#761 feat: add info color and implement it on alert and notification
  docs/design-system/colors.stories.mdx
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
  src/components/notification/card/bl-notification-card.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Labels: breaking change

#677 fix(select): return single value for single select
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Labels: breaking change

#766 fix(select): label property added to bl-select-option to fix #764
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Labels: bl-select
